<html>
<head>
	<title>deal</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
	<script type="text/javascript" src="deal.js"></script>

	<!-- templates -->
	<script type="text/template" id="option-view">
		<div class="option">
			<h4>option <%= optionNum %></h4>
			<input type="text" class="input-small" name="num" placeholder="<%= num %>" value="<%= num %>" /> <i class="icon-remove"></i>
			<input type="text" class="input-small" name="size" placeholder="<%= size %>" />
			<select name="unit" class="input-small">
				<option value=""></option>
				<optgroup label="volume">
					<option value="33.814">liters</option>
					<option value="1">ounces</option>
				</optgroup>
			</select> for
			<input type="text" class="input-small" name="price" placeholder="<%= price %>" />
			<div class="summary"></summary>
			<hr />
		</div>
	</script>
</head>
<body>
	<div class="content">
		<h1>Which is the best deal?</h1>		
		<div id="deals"></div>
		<button class="button btn" id="add">add</button>
		<button class="button btn" id="compare">compare</button>
	</div>
</body>
</html>